#logo {
    margin-left: 20px;
    height: 80px;
    width: 100px;
  }
  #header {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    border-color: 3px solid black;
    /* background-color:b#ac1761abab; */
  }
  a {
    text-decoration: none;
    color: white;
  }
  #searchBox {
    height: 75px;
    width: 380px;
    border-radius: 20px;
  }
  #options {
    margin-right: 20px;
    display: flex;
    gap: 50px;
  }