

body {
  font-family: "Inter", sans-serif;

  background-image:url("https://static.vecteezy.com/system/resources/previews/000/095/254/original/restaurant-menu-vector.jpg");
}

#randomdata {
  margin-top: 20px;
  margin: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 gap: 20px;
}
#randomdata > div {
  /* margin-top: 20px; */
  text-align: center;
}
#randomdata img {
  height: 200px;
  width: 248px;
  
}
#title_name {
  font-size: 15px;
  line-height: 14px;
  height: 40px;
  margin-top: 0px;
}
#randomdata button {
  background-color: #0f0f0d;
  margin-top: 0px;
  border: 0px;
  width: 100%;
  height: 30px;
  font-size: 110%;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}

#randomdata button:hover {
  background-color: rgb(184, 175, 175);
  color: #131612;
}


