body{
  width:auto;
  background-image: url('https://thumbs.dreamstime.com/z/digital-tablet-computer-apps-cooking-diet-plan-healthy-food-healthy-super-food-technology-background-digital-tablet-148085927.jpg')
}



#signup-form-div {
  text-align: center;
}
form {
  background-color: rgba(0, 0, 0, 0.71);
  backdrop-filter: blur(5px);
  width: 400px;
  margin: 3% auto;
  line-height: 3;
  padding: 1%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
form > input {
  font-size: 140%;
  border: 0px;
  border-radius: 5px;
  padding: 6px;
}
#submit {
  margin-top: 10px;
  border: 0px;
  background-color: #608e43;
  color: white;
  padding: 10px 40px;
  border-radius: 5px;
  padding: 10px 40px;
  border-radius: 5px;
}

#submit:hover {
  background-color: white;
  color: #608e43;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
}
#login {
  display: block;
  text-decoration: underline blue;
  font-size: 90%;
  margin-right: 0px;
  color: white;
}
